$black: #292929;
$white: #ffffff;
$light-blue: #9DBEBB;
$brown: #916953;

@-webkit-keyframes body {
    from {
        height: 190px;
        top: 62px;
    }
    to {
        height: 180px;
        top: 77px;
    }
}

@keyframes body {
    from {
        height: 190px;
        top: 62px;
    }
    to {
        height: 180px;
        top: 77px;
    }
}

@-webkit-keyframes ears {
    from {
        top: 0;
    }
    to {
        top: 15px;
    }
}

@keyframes ears {
    from {
        top: 0;
    }
    to {
        top: 15px;
    }
}


body {
    height: 100vh;
    margin: 0;
    background: $light-blue;
}

.container {
    height: 100%;
}

.image {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 700px;
    left: 50%;
    height: 500px;
}

.water {
    width: 500px;
    overflow: hidden;
    height: 420px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .pool {
        position: absolute;
        border-radius: 100%;
    }
    > .pool {
        background-color: darken($light-blue, 5%);
        height: 500px;
        width: 500px;
        transform: rotateZ(95deg) rotateY(49deg);

        > .pool {
            background-color: darken($light-blue, 10%);
            height: 420px;
            width: 420px;
            top: 40px;
            left: 40px;

            > .pool {
                background-color: darken($light-blue, 20%);
                height: 340px;
                width: 340px;
                top: 40px;
                left: 40px;
            }
        }
    }
}

.beaver {
    position: absolute;
    left: 92px;
}

.body {
    height: 190px;
    background-color: $brown;
    position: absolute;
    width: 180px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    top: 62px;
    left: 163px;
    animation-name: body;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.body-bottom {
    height: 180px;
    background-color: $brown;
    position: absolute;
    width: 180px;
    border-radius: 100%;
    top: 162px;
    transform: rotateZ(95deg) rotateY(49deg);
    left: 163px;
}

.ears {
    position: absolute;
    animation-name: ears;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.ear {
    background-color: $brown;
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 100px;

    .ear-inner {
        background-color: darken($brown, 15%);
        height: 20px;
        width: 20px;
        border-radius: 100px;
        top: 10px;
        position: absolute;
        left: 7px;
    }
}

.ear-left {
    left: 175px;
    top: 64px;
}

.ear-right {
    left: 300px;
    top: 70px;
    z-index: 2;
}

.muzzle {
    background: lighten($brown, 15%);
    height: 70px;
    width: 70px;
    border-radius: 100%;
    position: absolute;
    transform: rotateZ(95deg) rotateY(49deg);
}

.muzzle-left {
    top: 84px;
    left: -20px;
    transform: rotateZ(95deg) rotateY(49deg) scale(0.95);
}

.muzzle-right {
    top: 94px;
    left: 40px;
}

.nose {
    height: 30px;
    width: 30px;
    background: $black;
    border-radius: 100%;
    transform: rotateZ(95deg) rotateY(49deg);
    top: 91px;
    position: absolute;
    left: 30px;
}

.whisker {
    height: 8px;
    width: 10px;
    background-color: darken($brown, 15%);
    border-radius: 100%;
    transform: rotateZ(95deg) rotateY(49deg);
    position: absolute;
}

.whiskers-left {
    transform: scale(0.95);
    position: absolute;
    top: 5px;

    :nth-of-type(1) {
        top: 106px;
    }
    :nth-of-type(2) {
        top: 120px;
        left: -7px;
    }
    :nth-of-type(3) {
        top: 118px;
        left: 11px;
    }
}

.whiskers-right {
    :nth-of-type(1) {
        top: 124px;
        left: 60px;
    }
    :nth-of-type(2) {
        top: 117px;
        left: 77px;
    }
    :nth-of-type(3) {
        top: 131px;
        left: 78px;
    }
}

.eye {
    background-color: $black;
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 100%;
}

.eye-left {
    top: 81px;
    left: 10px;
}

.eye-right {
    top: 91px;
    left: 76px;
}

.bubbles {
    .bubble {
        height: 15px;
        width: 15px;
        border-radius: 100%;
        background: darken($light-blue, 5%);
        position: absolute;
    }

    :nth-of-type(1) {
        left: 155px;
        top: 253px;
    }
    :nth-of-type(2) {
        background: $light-blue;
        left: 164px;
        top: 265px;
        height: 10px;
        width: 10px;
    }
    :nth-of-type(3) {
        left: 205px;
        top: 296px;
        height: 12px;
        width: 12px;
    }
    :nth-of-type(4) {
        left: 214px;
        top: 300px;
        background: $light-blue;
        z-index: 3;
    }
    :nth-of-type(5) {
        left: 226px;
        top: 305px;
        height: 8px;
        width: 8px;
        background: lighten($light-blue, 5%);
    }
    :nth-of-type(6) {
        left: 309px;
        top: 287px;
        background: $light-blue;
        z-index: 3;
    }
    :nth-of-type(7) {
        left: 321px;
        top: 286px;
        height: 8px;
        width: 8px;
        background: lighten($light-blue, 5%);
    }
}